<div class="col-lg-8" ng-controller="OutputController">

    <div class="row">
    	<div class="col-lg-12">
      		<h4><i class="fa fa-table"></i> Elementos</h4>
      		<table class="table">
        		<tr>
          			<td ng-repeat="title in titles">
            			<strong>{{ title.name }}</strong>
          			</td>
          		</tr>
            	<tr>
		        <tr ng-repeat="row in dataset">
		        	{{row}}
		          	<!--td ng-repeat="value in row">
		          		{{row}}
	          		</td -->
	          	</tr>
          	</table>
    	</div>
  	</div> <!-- /.row -->


</div> <!-- /.col-lg-6 -->
