<div class="col-md-8 col-lg-10" ng-controller="OutputController">

    <div class="row" ng-show="data.dataset && data.dataset.length">
    	<div class="col-lg-12">
					<h4><i class="fa fa-table"></i> Busca</h4>
      		<table class="table table-fixed">
        		<tr>
								<td><strong>titles</strong></td>
          			<td ng-repeat="title in data.titles | filter: { isNumeric: true }">
            			<strong>{{ title.name }}</strong>
          			</td>
						</tr>						
		        <tr>
							<td><strong>values</strong></td>
							<td ng-repeat="title in data.titles | filter: { isNumeric: true }">
		        		<input style="width:80%" type="text" ng-model="data.search[title.name]" ng-change="data.sortBySimilary" ng-disabled="!title.active" />
							</td>
						</tr>
					</table>
					<hr />
					<h4><i class="fa fa-table"></i> Elementos</h4>
					<table class="table">
        		<tr>
          			<td ng-repeat="title in data.titles">
            			<strong>{{ title.name }}</strong>
          			</td>
						</tr>						
		        <tr ng-class="{'alert-success' : $index == 0 }" ng-repeat="row in data.dataset | limitTo: 50">
							<td ng-repeat="value in row">
		        		{{value}}
							</td>
						</tr>
					</table>
    	</div>
  	</div> <!-- /.row -->


</div> <!-- /.col-lg-6 -->
